body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  body {
    padding: 20px 20px;
  }
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 10px 5px;
  }
  .container {
    max-width: none;
  }
}
