body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

.root-container {
  position: relative;
  min-height: 85vh;
}

#detonatorx {
  min-height: 5vh;
  margin-left: 3%;
  color: rgba(36, 54, 211, 0.822);
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  body {
    padding: 20px 20px;
  }
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 10px 5px;
  }
  .container {
    max-width: none;
  }
  .checkout-page {
    width: 95%;
  }
}
